*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-family: 'Kodchasan', sans-serif;
 }


#container{
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 100vh;
    background-color: #4a093d;
    text-align: center;

}



.container-header{
    background-color: #EEE2DE;
    width: 50%;
    height: 20%;
    border-radius: 15px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.container-header__one{
    width: 90%;
    background-color: #FA9494;
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: var(--font-family);
}
.container-input{

    width: 50%;
    display: flex;
    justify-content: space-between;

}
#taskInput{
    background-color: #FA9494;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-family);
    padding-top: 12px 24px 12px 24px; 
    width: 75%;

}
.add{
    background-color: #FFB562;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 15px;
    font-family: var(--font-family);
    max-width: 50%; 
    height: 100%; 
    margin-left: 35px;
    padding-top: 12px 24px 12px 24px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45); 
    border: 0.50px black solid; 


 
  

}